@font-face {
font-family: 'space';
src: url('../fonts/FreeMono.ttf');

}

@font-face {
font-family: 'spaceB';
src: url('../fonts/FreeMonoBold.ttf');
}

@font-face {
font-family: 'roboto';
src: url('../fonts/Roboto-Regular.ttf');
}

body {

  background: #000;

}


#cesiumContainer
{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*LEFT MENU*/
.left_menu
{
  color: white;
  position: fixed;
  z-index: 30;
  height: auto;
  width: 180px;
  background-color: black;
  display: inline-block;
  transform: translateX(-100%);
  transition: 0.5s linear;
}
.left_menu.active{
  transform: translateX(0);
}

.logo{
  width: 156px;
  margin-left: 20px;
  margin-top:20px;
}

.filter
{
  margin-left:20px;
  width:5%;
  color:white;
  font-family: 'Lato';

}
input#name
{
  height: 39px;
}

input#year
{
  padding-top: 4px;
}

.form-style
{
  width: 150px;
  position: relative;
  margin-bottom: 19px;
}
.text-form
{
  position: relative;
  z-index: 1;
}
.form-style select
{
  width: 100%;
  height: 40px;
  padding-top: 10px;
  border:none;
  background: transparent;
  color: #fefefe;
  border-bottom: solid 1px white;
}

.form-style img
{
  padding-top: 13px;
  width: 15px;
  display: inline-block;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.form-style input
{
  width: 100%;
  /*height: 40px;*/
  border-bottom: solid 1px white;
}

.exit
{
  display: inline-block;
  position: absolute;
  width: 45px;
  height: 45px;
  z-index: 40;
  margin-left: 180px;
  background: black;
  transition: 0.5s linear;
  transform: translateX(-400%);
}

.exit.active{
  transform: translateX(0);
}

.exit img
{
  margin-top: 31px;
  max-height: 48%;
}


@media screen and (max-width: 860px)
{
  body
  {
    height: auto;
    overflow-y: scroll;
  }
}

/*RANGE*/

input {
  box-shadow: 0;
  outline: 0;
}

.range-slider {
  width: 150px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
  bottom: 70px;
}

.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 0;
}

.straight {
  color: #fefefe;
}

.year {
  position: relative;
  top: 100px;
}

input[type=number] {
  border: none;
  text-align: center;
  color: #fefefe;
  padding-top: 5px;
  background: transparent;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number]:invalid,
input[type=number]:out-of-range {}

input[type=range] {
  background: #fff;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  height: 18px;
  width: 18px;
  margin-top: -8px;
}

/* NAV */

.nav {

  position: fixed;
  z-index: 10;
  float:right;
  right: 0;
  width: 100px;
  height: 30px;
  color:white;
  font-family: 'Lato';
  margin-top:20px;
  transition: 1s;

}

.nav a {

  text-decoration: none;

}

.nav a:hover {

  opacity: 0.5;
  transition: 1s;
}

/* LANDING PAGE */

.landing-container {

  width: 100%;
  height: 100%;
  color:white;
  position: absolute;
  font-family: 'Lato';
  text-align: center;
  margin: 15% 0;
  font-size: 30px;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* ABOUT */


.about-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  font-family: 'Lato';
  color:white;
}

.about {
  position: relative;
  margin: 70px;
}

.about h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.about p {
  font-size: 30px;
}

.about a {
  text-decoration: none;
}
